



@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Orbitron:wght@400;500;600;700&display=swap');



 
:root {
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
    --p-small-font: 0.9rem;
    --cor-saffron:#ffe200;
    --cor-branca:#fff;
    --cor-cinza:#808080;
    --cor-cinza-escuro:#a9a9a9;

}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bree Serif', serif;
    text-decoration: none;
    list-style: none;
}


.max{
height: 75px;
background: transparent;
}

.min{
height: 100px;
background: linear-gradient(90deg, rgba(83,83,85,1) 18%, rgba(216,216,218,1) 43%, rgba(204,208,222,1) 57%,var(--cor-cinza) 100%);

}

.navegacao {
  display:flex;
  text-decoration: none;
 
}

.menu {
    display: flex;
    align-items: center;
}

.menu ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.navegacao a {
    color: var(--cor-saffron);
    font-size: 24px;
    font-weight: 500;
    margin: 0 25px;
    transition: all .45s ease;
}

.navegacao a:hover {
 color: var(--cor-branca);
} 

.navegacao a:active {
 color: purple;
}

body::-webkit-scrollbar {
	width: 12px;
}

body::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: black;
}

body{
    background: var(--cor-cinza);
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    padding: 22px 15%;
    border-bottom: 1px solid transparent;
    transition: all .45s ease; 
}

span {
    font-weight:500;
    color: var(--cor-saffron);
    font-family: 'Bree Serif', serif;
}

.Logo-img{
    color:var(--cor-branca);
    font-size: 35px;
    font-weight: 400;
    letter-spacing: 1px;
}

section{
    padding: 160px 15% 120px;
   
}

.home {

 position: relative;
 height: 100vh;
 width: 100%;
 background-image: url(./images/plano\ de\ fundo\ cinza\ novo.jpg);
 background-position: center;
 background-size: cover;
 display: flex;
 align-items: center;
 justify-content: flex-start;
}
 
.Ola {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    margin-right: 15px;
    height: 32px;
    padding: 0 15px;
    line-height: 32px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 5px ;
    background: transparent;
    color: var(--cor-saffron);
    border: solid 2px;
}

.me-chamo {
    display: inline-block;
    color: var(--cor-branca);
    font-size: 20px;
    font-weight: 500;
}
  

.home-text h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 5rem;
    font-weight: 700;
    color: var(--cor-branca);
    line-height: 1.1;
    margin: 0 0 8px;
}
  
.home-text h3 {
  font-family: 'Orbitron', sans-serif;
  font-size: 3rem;
  font-weight: 500;
  color: var(--cor-branca);
  line-height: 1.3;
}

.home-text p {
 font-size: var( --p-font);
 font-weight: 400;
 font-family: 'Bree Serif', serif;
 color: var(--cor-branca);
 line-height: 1.1;
 margin: 0 0 8px;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--cor-saffron);
}

.btn {
 color:var(--cor-saffron);
 font-size:24px;
 padding: 10px;
 margin-right: 10px;
}



.lista {
 display: flex;
 text-align: center ;
 align-items: center;
 padding-left: 20px;
 color: var(--cor-branca);
}


.lista-contatos-um {
 margin: 5px;
 padding: 4px;
 border-radius: 10px;
 border: solid 2px;
}
.lista-contatos-dois {
 margin: 5px;
 padding: 4px;
 border-radius: 10px;
 border: solid 2px;
}

.lista-contatos-tres {
 margin: 5px;
 padding: 4px;
 border-radius: 10px;
 border: solid 2px;
}

.lista-contatos-um:hover, .lista-contatos-dois:hover, .lista-contatos-tres:hover {
 color: var(--cor-saffron);

}

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}

.about-img img{
    margin-left: 100px;
    max-width: 430px;
    height: 630px;
    width: 100%;
    border-radius: 10px;
    box-shadow: var(--cor-saffron) 0px 4px 7px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.about-text h2 {
    font-size: var(--h2-font);
    line-height: 1;
    color: var(--cor-saffron);
}

.about-text h4 {
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-branca);
    line-height: 1.7;
    margin: 15px 0 30px;
}

.about-text p {
    font-size: var(--p-font);
    color: var(--cor-brancar);
    line-height: 1.8;
    margin-bottom: 4rem;
}

.seta {
  margin-top: 65px;
  margin-left: 580px;
  height: 60px;
  width: 150px;
  border-radius: 5px;
}
.seta:hover, .seta__um:hover {
    background-color: transparent;
    transform: scale(1.2); 
    color:var(--cor-saffron);
    
} 

header.sticky{
    background: #696969;
    border-bottom: 2px solid black;
    padding: 12px 15%;
    height: 10vh;
}

.services{
    background: var(--cor-cinza-escuro);
}

.main-text{
    margin-bottom:100px ;
    text-align: center;
}

.main-text p{
    color: var(black);
    font-size: 26px;
    margin-bottom: 15px;
}

.main-text h2{
    font-size: var(--h2-font);
    line-height: 1;
}

.services-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
}

.box{
    position: relative;
    overflow: hidden;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    max-height: 400px;
    min-height: 300px;
    text-align: center;
    background: var(--cor-branca);
    padding: 35px 45px;
    border-radius: 8px;
    transition: all .30s ease;
}

.s-icons i{
    font-size: 36px;
}

.box h3{
    font-size: 22px;
    font-weight: 600;
    color: black;
}



.seta__um {
    margin-right: 600px;
    margin-top:800px;
    height: 60px;
    width: 150px;
    border-radius: 5px;
  }

  .layer{
    width: 100%;
    height: 0%;
    position: absolute;
    border-radius: 0px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
  }


.box:hover .layer{
    height: 100%;
    background-color:#d3d3d3;
}

.layer h5 {
 font-size: 24px;
 color:var(--cor-saffron);
 
}
.layer p {
 font-size: var(--p-small-font);
 color: black;
 font-weight: 200;
}

.end{
    letter-spacing: 1px;
    text-align: center;
    padding: 20px 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--cor-cinza-escuro);
}

.last-text {
 font-size: var(--p-font);
 color: black;
}


@media (max-width: 1480px){
    header{
        padding: 12px 2.5%;
        transition: .1s;
    }

    header.sticky{
        padding-top:50px;
        transition: .1s;
    }

    section{
        padding: 110px 3% 60px;
    }
    .end{
        padding: 15px 3%;
    }

    .box{
        width: 400px;
    }
}

@media (max-width: 1100px){
    :root{
        --big-font: 4rem;
        --h2-font: 2rem;
        --p-font: 0.9rem;
        transition: .1s;
    }

    .home-text h3{
        font-size: 1.6rem;
    }

    .home{
        height: 87vh;

    }

    .about-text h4{
        font-size: var(--p-small-font)

    }

   .about-img img {
    margin-left: 15px;
    height: 500px ;
   }

   .about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;

    
}

@media (max-width: 920px){

    .about{
        grid-template-columns: 1fr;   
    }

    .about-img{
        display: none;
    }

    .about-text{
        text-align: center;
    }
}

@media (max-width: 800px){
    .menu-toggle {
        display: block;
    }

.menu {
    display: none;
    
}
.menu.active {
    display: block; 

}
.menu ul {
    list-style-type: none;
    padding: 0;
    display: inline;
}

.menu li {
    margin: 0;
}

.menu a {
    text-decoration: none;
    color: #fff;
}
}
}